extends index
block append style
  link(rel='stylesheet' href='/public/css/AuctionHistoryTable.css')
block append script
block content
  .card
    h3.title История действий
    include includes/AuctionHistoryTable