doctype html
html(lang="ru")
form(action="submitform" method="get")
    input(name="name" )
    input(name="password" type="password")
    input(type="submit")
if counter == "1"
    p Hello
else if counter == "2"
    p Again