<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="style.css" />
    <script defer src="index.js"></script>
</head>

<body>
    <div class="top">
        <div class="top_left">
            HI, <span id=userName></span>
            <div class="score"> Your score: <span id="result">0</span></div>
            <div>
                Status: <span id=status>...</span>
            </div>
        </div>
        <div class="top_right">
            <a class="link" href="/">Change Name</a>
        </div>
    </div>
    <div id=next>
        <h4>Next figure</h4>
        <div class="lala">
            <div id=nextGridBox>

                <div id=nextGrid>
                    <div class="row" next-data-y="0">
                        <div class="cell" next-data-x="0"></div>
                        <div class="cell" next-data-x="1"></div>
                        <div class="cell" next-data-x="2"></div>
                        <div class="cell" next-data-x="3"></div>
                        <div class="cell" next-data-x="4"></div>
                        <div class="cell" next-data-x="5"></div>
                    </div>
                    <div class="row" next-data-y="1">
                        <div class="cell" next-data-x="0"></div>
                        <div class="cell" next-data-x="1"></div>
                        <div class="cell" next-data-x="2"></div>
                        <div class="cell" next-data-x="3"></div>
                        <div class="cell" next-data-x="4"></div>
                        <div class="cell" next-data-x="5"></div>
                    </div>
                    <div class="row" next-data-y="2">
                        <div class="cell" next-data-x="0"></div>
                        <div class="cell" next-data-x="1"></div>
                        <div class="cell" next-data-x="2"></div>
                        <div class="cell" next-data-x="3"></div>
                        <div class="cell" next-data-x="4"></div>
                        <div class="cell" next-data-x="5"></div>
                    </div>
                    <div class="row" next-data-y="3">
                        <div class="cell" next-data-x="0"></div>
                        <div class="cell" next-data-x="1"></div>
                        <div class="cell" next-data-x="2"></div>
                        <div class="cell" next-data-x="3"></div>
                        <div class="cell" next-data-x="4"></div>
                        <div class="cell" next-data-x="5"></div>
                    </div>
                    <div class="row" next-data-y="4">
                        <div class="cell" next-data-x="0"></div>
                        <div class="cell" next-data-x="1"></div>
                        <div class="cell" next-data-x="2"></div>
                        <div class="cell" next-data-x="3"></div>
                        <div class="cell" next-data-x="4"></div>
                        <div class="cell" next-data-x="5"></div>
                    </div>
                    <div class="row" next-data-y="5">
                        <div class="cell" next-data-x="0"></div>
                        <div class="cell" next-data-x="1"></div>
                        <div class="cell" next-data-x="2"></div>
                        <div class="cell" next-data-x="3"></div>
                        <div class="cell" next-data-x="4"></div>
                        <div class="cell" next-data-x="5"></div>
                    </div>
                </div>
            </div>
            <div id=nextGridBox>

                <div id=nextGrid>
                    <div class="row" next-data-1-y="0">
                        <div class="cell" next-data-1-x="0"></div>
                        <div class="cell" next-data-1-x="1"></div>
                        <div class="cell" next-data-1-x="2"></div>
                        <div class="cell" next-data-1-x="3"></div>
                        <div class="cell" next-data-1-x="4"></div>
                        <div class="cell" next-data-1-x="5"></div>
                    </div>
                    <div class="row" next-data-1-y="1">
                        <div class="cell" next-data-1-x="0"></div>
                        <div class="cell" next-data-1-x="1"></div>
                        <div class="cell" next-data-1-x="2"></div>
                        <div class="cell" next-data-1-x="3"></div>
                        <div class="cell" next-data-1-x="4"></div>
                        <div class="cell" next-data-1-x="5"></div>
                    </div>
                    <div class="row" next-data-1-y="2">
                        <div class="cell" next-data-1-x="0"></div>
                        <div class="cell" next-data-1-x="1"></div>
                        <div class="cell" next-data-1-x="2"></div>
                        <div class="cell" next-data-1-x="3"></div>
                        <div class="cell" next-data-1-x="4"></div>
                        <div class="cell" next-data-1-x="5"></div>
                    </div>
                    <div class="row" next-data-1-y="3">
                        <div class="cell" next-data-1-x="0"></div>
                        <div class="cell" next-data-1-x="1"></div>
                        <div class="cell" next-data-1-x="2"></div>
                        <div class="cell" next-data-1-x="3"></div>
                        <div class="cell" next-data-1-x="4"></div>
                        <div class="cell" next-data-1-x="5"></div>
                    </div>
                    <div class="row" next-data-1-y="4">
                        <div class="cell" next-data-1-x="0"></div>
                        <div class="cell" next-data-1-x="1"></div>
                        <div class="cell" next-data-1-x="2"></div>
                        <div class="cell" next-data-1-x="3"></div>
                        <div class="cell" next-data-1-x="4"></div>
                        <div class="cell" next-data-1-x="5"></div>
                    </div>
                    <div class="row" next-data-1-y="5">
                        <div class="cell" next-data-1-x="0"></div>
                        <div class="cell" next-data-1-x="1"></div>
                        <div class="cell" next-data-1-x="2"></div>
                        <div class="cell" next-data-1-x="3"></div>
                        <div class="cell" next-data-1-x="4"></div>
                        <div class="cell" next-data-1-x="5"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id=root>
    </div>
    <div class="btn_box_">
        <div id=action_box class="btn_box1">

            <div class="btn_row">
                <img id=ll src="arrow.rotate.svg" class="action_btn rotate_btn" onclick=" kdf({ keyCode: 38 });" />
            </div>
            <div class="btn_row">

                <img id=ll src="arrow.left.svg" class="action_btn" onclick=" kdf({ keyCode: 37 });" />
                <img id=ll src="arrow.down.svg" class="action_btn" onclick=" kdf({ keyCode: 40 });" />
                <img id=ll src="arrow.right.svg" class="action_btn" onclick=" kdf({ keyCode: 39 });" />
            </div>
        </div>
        <div class="btn_box2">
            <button id=startBtn class=btn onclick="start()">Start</button>
            <button id=endGameBtn class=btn onclick="endGame()">Stop</button>
        </div>
    </div>

    <hr />
    <table id="scoreTable" border="0">
        <h2 class=storeTitle>Store</h2>
        <tr id=tableHead>
            <th>Name</th>
            <th>Score</th>
            <th>Date</th>
        </tr>
    </table>
</body>

</html>