.modal {
  width: 600px;
  position: absolute;
  top: 50%;
  bottom: 50%;
  left: 0%;
  right: 0%;
  z-index: 2;
  margin: auto;
  height: fit-content;
  min-height: 300px;
  box-shadow: 0 0 8px #285fe0;
  border-radius: 16px;
  padding: 16px;
  background-color: #ffffff;
  overflow: hidden;
}

.avatar {
  width: 100px;
  border-radius: 4px;
}
.fio {
  padding-left: 32px;
  margin-top: auto;
  margin-bottom: 0;
}
.fio > p {
  margin: 4px;
}

.row1 {
  display: flex;
  border-bottom: 1px solid #285fe0;
}
.blur {
  width: 100vw;
  height: 100vh;
  background-color: #285fe07a;
  position: absolute;
  top: 0;
  left: 0;
}
