
extends index
block append style
    link(rel='stylesheet' href='src/style/Login.css')
block append script
    script(src="src/script/Login.js")
block content
    .pre
        a.github(href=`https://github.com/login/oauth/authorize?response_type=code&client_id=${clientId}&redirect_uri=${redirect_uri}`)
            span Вход через GitHub
            img.octocat(src="public/img/Octocat.jpg")



