<h3>Список брокеров</h3>
<div class="paperBox" *ngIf="brokers.length > 0">
  <div class="paper" *ngFor="let element of brokers">
    <p>
      <span for="" class="key">Имя</span>
      <span class="value">{{ element.name }}</span>
    </p>
    <p>
      <span for="" class="key">Баланс</span>
      <span class="value">{{ element.money }}</span>
    </p>

    <td>
      <button
        (click)="changeBroker($event.target)"
        title="Редактировать брокера"
      >
        Ред.
      </button>
      <button (click)="deleteBroker($event.target)" title="Удалить брокера">
        Удал.
      </button>
    </td>
  </div>
</div>

<div
  *ngIf="brokers.length === 0"
  class="d-flex justify-content-center py-3 border-top border-bottom mb-2"
>
  Нет брокеров
</div>

<button (click)="add()">Добавить брокера</button>

<app-broker-form
  *ngIf="addModalOpened"
  (broker)="newBrokerEvent($event)"
  (closeModal)="addModalOpened = false"
>
</app-broker-form>

<app-broker-form-change
  *ngIf="changeModalOpened"
  (broker)="changeBrokerEvent($event)"
  (closeModal)="changeModalOpened = false"
  [name]="changeValue.name"
  [money]="changeValue.money"
></app-broker-form-change>

<app-info *ngIf="infoModalOpened" (back)="infoModalOpened = false"
  >Участник с таким именем уже есть!</app-info
>
