<div class="mymodal">
  <div class="" role="document">
    <div class="">
      <div class="">
        <h5 class="">Новая акция</h5>
      </div>
      <div class="">
        <div class="formGroup">
          <input
            type="text"
            placeholder="Компания"
            [(ngModel)]="name"
            [class.badValue]="isBadName"
            (keydown.enter)="add(name, rule, max, count, startPrice)"
          />
          <p></p>
          <select
            [(ngModel)]="rule"
            [class.badValue]="isBadRule"
            (keydown.enter)="add(name, rule, max, count, startPrice)"
          >
            <option>равномерное распределение</option>
            <option>нормальное распределение</option>
          </select>
          <p></p>
          <input
            type="number"
            min="0"
            step="1"
            placeholder="Макс. изменение цены"
            [(ngModel)]="max"
            [class.badValue]="isBadMax"
            (keydown.enter)="add(name, rule, max, count, startPrice)"
          />
          <p></p>
          <input
            type="number"
            min="0"
            step="1"
            placeholder="Количество"
            [(ngModel)]="count"
            [class.badValue]="isBadCount"
            (keydown.enter)="add(name, rule, max, count, startPrice)"
          />
          <p></p>
          <input
            type="number"
            min="0"
            step="1"
            placeholder="Стартовая цена"
            [(ngModel)]="startPrice"
            [class.badValue]="isBadPrice"
            (keydown.enter)="add(name, rule, max, count, startPrice)"
          />
          <p></p>
        </div>
      </div>
      <div class="btnGroup">
        <button (click)="add(name, rule, max, count, startPrice)" type="button">
          Добавить
        </button>
        <button
          (click)="this.closeModal.emit()"
          type="button"
          data-dismiss="modal"
        >
          Закрыть
        </button>
      </div>
    </div>
  </div>
</div>

<div class="modalBlur" (click)="this.closeModal.emit()"></div>
