.modalBox(id="modalWindow")
    block script
        script(src="src/script/ModalWindow.js")
    block style
        //- link(rel='stylesheet' href='src/style/ModalWindow.css')
    .blur(onclick="closeModal()")
    .modal
        block content